[user]
	name = zir500
	email = zir500@york.ac.uk
[core]
	autocrlf = input
	editor = vim
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
