[submodule "iterm2/vim-colors-solarized"]
	path = iterm2/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vim-colors-solarized"]
	path = vim/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/Vim-Xcode-Theme"]
	path = vim/Vim-Xcode-Theme
	url = https://github.com/Addisonbean/Vim-Xcode-Theme.git
[submodule "vim/.vim/bundle/Vundle.vim"]
	path = vim/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
