[submodule "iterm2/vim-colors-solarized"]
	path = iterm2/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vim-colors-solarized"]
	path = vim/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/Vim-Xcode-Theme"]
	path = vim/Vim-Xcode-Theme
	url = https://github.com/Addisonbean/Vim-Xcode-Theme.git
